
<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">HOME </a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/signin">Sign In</a>
                    <a routerLink="/cart-page"><span class="material-symbols-outlined">
                        shopping_cart
                        </span>
                        <!-- <span class="count">{{cart.items.length}}</span> -->
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>