<div class="container">
    <h1>SIGN UP</h1>
    <div class="user">
        <div>Username</div>
        <input type="text" placeholder="Your name">
    </div>
    <div class="pass">
        <div>Password</div>
        <input type="password" placeholder="Password">
    </div>
    <div class="conpass">
        <div>Confirm Password</div>
        <input type="password" placeholder="Cpnfirm Password">
    </div>
    <button  (click)="goToHome()">SIGN UP</button>
    <span class="change">Already have an account --  <a routerLink="/signin">Sign </a> </span>

</div>
